<div class="carrito-container">
    {% for producto in productos %}
    <div class="item-carrito">
        {% set img_url = url_for('static', filename='img/products/' ~ producto.imagen) %}
        {% set default_img = url_for('static', filename='img/cupcake.png') %}
        
        <img src="{{ img_url }}"
             class="carrito-img"
             onerror="this.src='{{ default_img }}'">
        
        <div class="carrito-info">
            <h4>{{ producto.nombre }}</h4>
            <p>Precio: {{ producto.precio }} Bs</p>
            <p>Cantidad: {{ producto.cantidad }}</p>
            <p>Subtotal: {{ producto.subtotal }} Bs</p>
        </div>
        
        <button class="btn-eliminar" onclick="eliminarDelCarrito('{{ producto.id }}')">X</button>
    </div>
    {% else %}
    <p class="carrito-vacio">Tu carrito está vacío</p>
    {% endfor %}
</div>