{% extends "layout_cliente.html" %}

{% block cliente_extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cliente/dashboard.css') }}">
{% endblock %}

{% block cliente_content %}

<!-- ========================================
                HERO PRINCIPAL
======================================== -->
<section class="hero">
    <div class="hero-overlay"></div>

    <img src="{{ url_for('static', filename='img/banner.jpg') }}" class="hero-img">

    <div class="hero-content">
        <h1>REGÁLATE UN <span>GRAN DULCE MOMENTO</span></h1>
        <p>Ordena en línea y recoge en tu sucursal favorita</p>
        <a href="/cliente/productos" class="hero-btn">Comprar ahora</a>
    </div>
</section>


<!-- ========================================
         ESPECIALES DEL MES
======================================== -->
<h2 class="section-title">Especiales del mes</h2>

<section class="productos-grid">
    {% for p in productos %}
    <div class="product-card">

        {% set img_url = url_for('static', filename='img/products/' ~ p.imagen) %}
        {% set default_img = url_for('static', filename='img/products/cupcake.jpg') %}

        <div class="img-container">
            <img src="{{ img_url }}" onerror="this.src='{{ default_img }}'" class="product-img">
        </div>

        <div class="info">
            <h3>{{ p.nombre }}</h3>
            <p class="precio">Bs {{ p.precio }}</p>
        </div>

        <a href="/cliente/producto/{{ p.id }}" class="btn-comprar">Ver producto</a>
    </div>
    {% endfor %}
</section>


<!-- ========================================
                 CATEGORÍAS
======================================== -->
<h2 class="section-title">Categorías</h2>

<section class="categorias-grid">

    {% for cat in categorias %}

    {% set img_url = url_for('static', filename='img/categories/' ~ cat.icono) %}
    {% set default_img = url_for('static', filename='img/products/cupcake.jpg') %}

    <div class="cat-item">

        <div class="cat-img-container">
            <img src="{{ img_url }}" onerror="this.src='{{ default_img }}'" class="cat-img">
        </div>

        <h3>{{ cat.nombre }}</h3>

        <a href="/cliente/categorias?buscar={{ cat.nombre }}" class="cat-btn">
            Ver productos
        </a>
    </div>

    {% endfor %}

</section>

{% endblock %}
