{% extends "layout_admin.html" %}

{% block admin_content %}
<h2 class="titulo-cat">Inventario</h2>

<table class="tabla-inventario">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for p in products %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.category_name }}</td>
            <td>{{ p.price }}</td>
            <td>{{ p.quantity }}</td>
            <td>{{ p.status }}</td>
            <td>
                <form action="{{ url_for('admin.actualizar_stock') }}" method="POST">
                    <!-- Enviar el _id real -->
                    <input type="hidden" name="product_id" value="{{ p._id }}">
                    <input type="number" name="quantity" value="{{ p.quantity }}" min="0" style="width:60px;">
                    <button type="submit" class="btn-editar">Actualizar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
