{% extends "layout_empleado.html" %}

{% block extra_css %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/empleado/empleado_clientes.css') }}">
{% endblock %}

{% block empleado_content %}

<h1 class="titulo">Clientes</h1>

<div class="acciones">
    <button class="btn-agregar" onclick="abrirModal()">Agregar Cliente</button>
</div>

<table class="tabla">
     <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Acción</th>
    </tr>

    {% for i in range(1,10) %}
    <tr>
        <td>Cliente {{ i }}</td>
        <td>correo{{ i }}@gmail.com</td>
        <td>
            <button class="btn-editar">Editar</button>
            <button class="btn-borrar">Eliminar</button>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
