{% extends "layout_empleado.html" %}

{% block extra_css %}
    {{ super() }}   <!-- 🔥 SIN ESTO NO SALE EL NAVBAR -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/empleado/panel_empleado.css') }}">
{% endblock %}

{% block empleado_content %}

<div class="buscador-container">
    <input type="text" class="input-buscar" id="buscarProducto" placeholder="Buscar producto...">
    <button class="btn-buscar">🔍</button>
</div>

<h2 class="titulo-cat">Productos Disponibles</h2>

<section class="productos-grid">
    {% for p in productos %}
    <div class="card-producto">
        <img src="{{ p.imagen }}" class="producto-img">
        <div class="producto-info">
            <h3>{{ p.nombre }}</h3>
            <p class="precio">Precio: {{ p.precio }} Bs</p>
            <p class="descripcion">{{ p.descripcion }}</p>
            <div class="pedido-control">
                <input type="number" min="1" value="1">
                <button onclick="window.location='/empleado/crear_pedido'">Agregar</button>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock %}
