/* Fuente general */
body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: "Poppins", sans-serif;
    color: #4B3A36;
}

/* HEADER */
.header {
    background: #C49C85;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-icon, .user-icon {
    font-size: 22px;
    cursor: pointer;
}

/* TÍTULO */
.titulo-cat {
    text-align: center;
    margin-top: 25px;
    color: #6B4F45;
}

/* BUSCADOR */
.buscador-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.input-buscar {
    width: 250px;
    padding: 10px;
    border: 2px solid #b69d8a;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.btn-buscar {
    padding: 10px 15px;
    border: 2px solid #b69d8a;
    background: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* ICONOS DE CATEGORÍAS */
.categorias-iconos {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 40px;
}

.icono-item {
    text-align: center;
    cursor: pointer;
}

.icono-categoria {
    width: 80px;
    filter: grayscale(40%);
}

/* GRID DE PRODUCTOS */
.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    width: 80%;
    margin: 0 auto 60px auto;
}

.card-producto {
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.card-producto:hover {
    transform: scale(1.03);
}

.producto-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.producto-info {
    padding: 15px;
}

.precio {
    margin-top: -10px;
    font-weight: 600;
}

.descripcion {
    font-size: 13px;
    opacity: 0.7;
    margin-top: -5px;
}
