/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

/* NAVBAR */
.header {
    background: #dca47c;
    padding: 10px 0;
}

.nav-container {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120pxs;
    height: auto;
    display: block;
    margin: 5 auto;
}


.search-bar {
    width: 40%;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
/* Logo pequeño dentro del navbar */
.logo-navbar {
    width: 60px;     
    height: auto;
    border-radius: 8px;   
    object-fit: cover;
}


.nav-icons {
    display: flex;
    gap: 15px;
}

.icon {
    width: 32px;
    cursor: pointer;
}

/* BANNER */
.banner-img {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.banner-text {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
}

/* SECTION TITLES */
.section-title,
.section-title-cats {
    background: #c39374;
    text-align: center;
    color: white;
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

/* PRODUCTOS */
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
    padding: 25px 60px;
}

.product-card {
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.25);
}

.product-img {
    width: 100%;
    border-radius: 10px;
}

/* CATEGORÍAS */
.categorias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 35px;
    padding: 25px 60px;
}

.cat-card {
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
}

.cat-img {
    width: 80px;
}

/* FOOTER */
.footer {
    background: #dca47c;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    color: white;
}

.footer h3 {
    margin-bottom: 10px;
}
