<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categoria.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>

    <!-- ENCABEZADO -->
    <header class="header">
        <div class="header-left">
            <div class="menu-icon">☰</div>
        </div>

        <div class="header-right">
            <div class="user-icon">👤</div>
        </div>
    </header>

    <!-- TÍTULO -->
    <h1 class="titulo-cat">CATEGORIAS</h1>

    <!-- BUSCADOR -->
    <div class="buscador-container">
        <input type="text" placeholder="Buscar" class="input-buscar">
        <button class="btn-buscar">🔍</button>
    </div>

    <!-- ICONOS DE CATEGORÍAS -->
    <section class="categorias-iconos">

        {% for cat in categorias %}
        <div class="icono-item">
            <img src="{{ url_for('static', filename='img/cupcake.png') }}" alt="icono" class="icono-categoria">
            <p> {{ cat.nombre }} </p>
        </div>
        {% endfor %}

    </section>

    <!-- GRID DE PRODUCTOS -->
    <section class="productos-grid">

        {% for p in productos %}
        <div class="card-producto">
            <img src="{{ p.imagen }}" class="producto-img">
            <div class="producto-info">
                <h3>{{ p.nombre }}</h3>
                <p class="precio">Precio: {{ p.precio }} Bs</p>
                <p class="descripcion">{{ p.descripcion }}</p>
            </div>
        </div>
        {% endfor %}

    </section>

</body>
</html>
