{% extends "layout.html" %}

{% block extra_css %}
    <!-- CSS general del navbar -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global_nav.css') }}">

    <!-- CSS específico del navbar del empleado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/empleado/nav.css') }}">

    <!-- CSS general del panel del empleado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout_empleado.css') }}">

    <!-- CSS del dashboard del empleado (IGUAL AL ADMIN) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/empleado/dashboard.css') }}">
{% endblock %}

{% block navbar %}
    {% include "base/nav.html" %}
{% endblock %}

{% block content %}
    {% block empleado_content %}{% endblock %}
{% endblock %}
